/* uni-app 全局 SCSS 变量（每个页面自动引入） */
$uni-color-primary: #005A9C;
$uni-color-primary-grad: #0072BD;
$uni-color-success: #09B865;
$uni-color-warning: #FF7D00;
$uni-color-error: #F53F3F;
$uni-text-color: #333333;
$uni-text-color-grey: #666666;
$uni-bg-color: #F5F7FA;
$uni-bg-color-white: #FFFFFF;
